/* navigation position indicator  */

nav #vlog {
    padding: 5px;
    background-color: #2d3436;
    border: 1px solid white;
}

nav #home {
    background-color: #636e72;
    border: none;
}


/* Google Advertisement area */

.google-ads {
    height: 150px;
    width: 86%;
    margin-left: 100px;
    align-items: center;
    background-image: url('/iamge/google-adsense.png');
    background-size: 180px;
}

.abtUs {
    height: 700px;
    background-color: white;
    overflow: hidden;
}

.aboutUs {
    display: flex;
}

.aboutUs h3 {
    font-size: 18px;
    line-height: 1.5em;
    text-align: justify;
    font-family: ralwey;
    width: 700px;
    margin-left: 100px;
}

.abtUs h1 {
    font-size: 50px;
    margin-left: 100px;
    padding-top: 20px;
}

.aboutUs img {
    height: 300px;
    width: auto;
    margin-left: 100px;
}

h3 span {
    font-size: 25px;
    font-family: 'Arial Narrow Bold', sans-serif;
}