<!DOCTYPE html>
<html lang="en">

<head>
    <!-- All Meta Tags goes here -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=7">
    <meta name="description" content="This Website build to serve those who looking various types of services and need one solution. Jobs like Video Creative Editing, Photography, Cinematography, Background Music, Voice Over Artist, Actor, Director, Writer, Short FIlm Related Tips Guidance and Web Development like front end Designing (Photoshop PSD ) and Coding for responsive Website  and Backend for dynamic  ">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="keywords" content="Website Development, Front End Web design , Coding, Programming, Editing, Writer, Director, Producer, Short FIlm, Photography, Cinematography">
    <meta name="author" content="Praveen Singh Chauhan">
    <!-- All Meta Tags -->
    <!-- Website Title goes here -->
    <link rel="icon" href="/iamge/aunash-blk.png" type="image/x-icon">
    <title>AUNASH by Praveen Singh Chauhan</title>
    <!-- Website title  -->
    <!-- All External Links STARTS>> -->
    <!-- CSS Link -->
    <link rel="stylesheet" href="css/styles.css">
    <!-- <link rel="stylesheet" href="css/aboutus.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- JavaScript Link  -->
    <script src="java/main.js"></script>
    <!-- Font Links  -->

    <!-- External Links <<ENDS -->
</head>

<body>

    <header id="header">

        <!-- navigation bar, menu and brand logo with brand image  -->
        <nav id="nav-bar-main">
            <div class="brand-icon">
                <img id="brand-icon" src="iamge/aunash.png" alt="aunash icon file">
                <h5 class="ans">Aum Namah Shivaay</h5>
            </div>
            <h3><a href="/index.html"> AUNASH</a></h3>
            <ul id="nav-bar-ul">
                <li id="home"><a href="/index.html">Home</a></li>
                <li id="services"><a href="/services.html">Services</a></li>
                <li id="blog"><a href="/blog.html">Blog</a></li>
                <li id="vlog"><a href="/vlog.html">Vlog</a></li>
                <li id="aboutUs"><a href="/aboutus.html">About Us</a></li>
                <li id="contactUs"><a href="/contactus.html">Contact Us</a></li>
            </ul>
        </nav>
    </header>
    <!-- Main area for my image or slides and Google Ads  -->
    <main>

        <div id="main-area" class="main-area">
            <div id="main-img" class="main-img">
                <h3>Welcome to</h3>
                <h1>AUNASH</h1>
            </div>
            <aside>
                <!-- <img id="google-img" src="iamge/google-adsense.png" alt="google advertisement image"> -->
            </aside>
            <h4 id="goToCU"><a href="/contactus.html"> Contact Us</a></h4>
        </div>
        <div id="news-info" class="news-info">
            <div class="grid-col-merg">
                <h1>News One</h1>
                <h3> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Exercitationem voluptatum perferendis eligendi doloribus mollitia voluptatem nulla quaerat ullam. Expedita, quasi!</h3>
            </div>
            <div>
                <h1>News Two</h1>
                <h3> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vel iure magni ratione blanditiis explicabo rerum architecto amet assumenda numquam expedita. </h3>
            </div>
            <div>
                <h1>News Three</h1>
                <h3> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Unde odio exercitationem itaque illum assumenda quia dolorum perspiciatis molestiae blanditiis recusandae. </h3>
            </div>
            <div>
                <h1>News Four</h1>
                <h3> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Unde odio exercitationem itaque illum assumenda quia dolorum perspiciatis molestiae blanditiis recusandae. </h3>
            </div>
        </div>
    </main>

    <!-- Additional area for quotation update regular basis for motivation  -->
    <section id="quotSection">
        <div id="quotation">
            <img id="quot-img" src="iamge/thoughtOD.png" alt="Bulseye Image Thought of the Day">
            <h2> Thought of the Day :- </h2>
            <h3>"Never Ever Give Up."</h3>
        </div>
    </section>

    <!-- Service area whare put all kind of services offered or provided by Aunash -->
    <section id="serviceSection">
        <div class="service-main">
            <div id="service-bar">
                <h2>SERVICES :- Best Place for your valuable Jobs :- </h2>
                <h3>“ I’m a creative person hence suits for your creative job solution. Try ME...”</h3>
                <!-- <button id="service-btn" class="btn-all"> <a href="/services.html" > Services</a></button> -->
            </div>

            <div class="services">
                <div id="editing">
                    <h2><a href="/services.html">  Editing</a></h2>
                </div>
                <div id="studio">
                    <h2><a href="/services.html">  Studio Hiring</a></h2>
                </div>
                <div id="web-develop">
                    <h2><a href="/services.html">  Web Development</a></h2>
                </div>
                <div id="photography">
                    <h2><a href="/services.html"> Photography</a></h2>
                </div>

                <h3 class="editText">Creative editing makes your job easy and best “Impossible to IM POSSIBLE”</h3>
                <h3 class="studioText">Creative editing makes your job easy and best “Impossible to IM POSSIBLE”</h3>
                <h3 class="webText">Creative editing makes your job easy and best “Impossible to IM POSSIBLE”</h3>
                <h3 class="photoText">Creative editing makes your job easy and best “Impossible to IM POSSIBLE”</h3>

                <div id="cinematography">
                    <h2><a href="/services.html"> Cinematography</a></h2>
                </div>
                <div id="director">
                    <h2><a href="/services.html"> Director</a></h2>
                </div>
                <div id="writer">
                    <h2><a href="/services.html"> Writer</a></h2>
                </div>
                <div id="voice-over">
                    <h2><a href="/services.html"> Voice Over</a></h2>
                </div>
                <h3 id="cinematoText">Cinematic experience in videography from real cinema person “No Nonsense”</h3>
                <h3 id="directorText">Creative editing makes your job easy and best “Impossible to IM POSSIBLE”</h3>
                <h3 id="writerText">Creative editing makes your job easy and best “Impossible to IM POSSIBLE”</h3>
                <h3 id="VoiceText">Creative editing makes your job easy and best “Impossible to IM POSSIBLE”</h3>
            </div>
            <h5>Note-Images shown above are "dipict" purpose only.</h5>
        </div>

    </section>
    <!-- Blog area for showing some blogs for attraction and link to main blog page -->
    <div class="blog">
        <div class="blog-bar">
            <h2>BLOG:- Share is Care.Interesting yet full of information </h2>
            <h3>“Blog is a part of my life but …Be my guest … get acquaintance “</h3>
            <button id="blogPost-btn" class="btn-all"> <a href="/blog.html" > Blog Posts</a></button>

        </div>
        <div class="blog-main">
            <div id="blog-box1">
                Blog Box 1
            </div>
            <div id="blog-text1">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe quasi labore laboriosam impedit excepturi velit alias quia exercitationem fuga facilis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates hic blanditiis doloribus fugiat
                eum voluptas ut volupta e ullam vero culpa fuga corrupti, quae illum delectus autem ex corporis asperiores dolores. Excepturi ipsam ad quisquam deleniti accusantium quis culpa hic? Sit pariatur autem iusto?

                <br><a href=""> Read more...</a>
            </div>
            <div id="blog-box2">
                Blog Box 3
            </div>
            <div id="blog-text2">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repudiandae accusamus mollitia dolorem suscipit doloremque illum culpa, a error quos facere<br><a href=""> Read more...</a>
            </div>
            <div id="blog-box3">
                Blog Box 1
            </div>
            <div id="blog-text3">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto adipisci reprehendeasdfafsdassfdrit pariatur assumenda cupiditate error velit itaque aliqasdfadsfuam quod iste.<br><a href=""> Read more...</a>
            </div>
            <div id="blog-box4">
                Blog Box 3
            </div>
            <div id="blog-text4">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. A nulla pariatur eius voluptas iste necessitatibus numquam quos, quas exercitationem dolorafdafasdf !<br><a href=""> Read more...</a>
            </div>
        </div>
        <div id="google-ads">
            google advertisement
        </div>
    </div>

    <!-- Vlog Area for showing Youtube Videos of Technology Video Network ,Motivational Channel and my Personal Channel vlogs -->
    <div class="vlog">
        <div class="vlog-bar">
            <h2>VLOG:- Information, Entertainment and Interesting </h2>
            <h3>“Life is full of surprises and you know what ....Watch and know.” </h3>
            <button id="vlogPost-btn" class="btn-all"> <a href="/vlog.html" > Vlog Posts</a></button>
        </div>
        <h1>Latest Videos of My YouTube Channles</h1>
        <div class="vlog-main">

            <div id="tvn-box">
                <h4>Technology Video Network</h4>
            </div>
            <div id="psc-box">
                <h4>Praveen Singh Chauhan</h4>
            </div>
            <div id="negu-box">
                <h4>Never Ever Give Up</h4>
            </div>

            <div id="tvn-vdo1">
                <!-- <iframe width="315" height="177" src="https://www.youtube.com/embed/58dZ1YUF-vE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
                <embed id="yt-psc-vdo1" src="https://www.youtube.com/embed/58dZ1YUF-vE" type="">

            </div>
            <div id="psc-vdo1">
                <embed id="yt-psc-vdo1" src="https://www.youtube.com/embed/F3F2bfYNPho" type="">
            </div>
            <div id="negu-vdo1">
                <embed id="yt-psc-vdo1" src="https://www.youtube.com/embed/7m74CWiFf1g" type="">

            </div>
            <div id="tvn-vdo2">
                <embed id="yt-psc-vdo1" src="https://www.youtube.com/embed/BPvo-HApyKE" type=""> Technology Video Network Video 2
            </div>
            <div id="psc-vdo2">
                <embed id="yt-psc-vdo1" src="https://www.youtube.com/embed/hfFahzFJQPw" type="">
            </div>
            <div id="negu-vdo2">
                <embed id="yt-psc-vdo1" src="https://www.youtube.com/embed/kzTGNeUBPuY" type="">
            </div>
        </div>


    </div>
    <!-- Footer Area where put links of the site , youtube channles and social media  -->
</body>
<footer class="footer-footer">
    <div>
        <h5>Copyright taken by Praveead Singh Chauhan for AUNASH &copy 2021</h5>
    </div>
    <div class="icon-bar">
        <a class="facebook" href="https://www.facebook.com/praveen13c" target="_blank"><i class="fa fa-facebook"></i></a>
        <a class="twitter" href="https://www.twitter.com/praveen13c" target="_blank"><i class="fa fa-twitter"></i></a>
        <a class="github" href="https://www.github.com/praveen13c" target="_blank"><i class="fa fa-github"></i></a>
        <a class="linkedin" href="https://www.linkedin.com/in/impraveenchauhan/" target="_blank"><i class="fa fa-linkedin"></i></a>
        <a class="youtube" href="https://www.youtube.com/TechnologyVideoNetwork" target="_blank"><i class="fa fa-youtube"></i></a>
    </div>

</footer>

</html>