<!DOCTYPE html>
<html lang="en">

<head>
    <!-- All Meta Tags goes here -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=7">
    <meta name="description" content="This Website build to serve those who looking various types of services and need one solution. Jobs like Video Creative Editing, Photography, Cinematography, Background Music, Voice Over Artist, Actor, Director, Writer, Short FIlm Related Tips Guidance and Web Development like front end Designing (Photoshop PSD ) and Coding for responsive Website  and Backend for dynamic  ">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="keywords" content="Website Development, Front End Web design , Coding, Programming, Editing, Writer, Director, Producer, Short FIlm, Photography, Cinematography">
    <meta name="author" content="Praveen Singh Chauhan">
    <!-- All Meta Tags -->
    <!-- Website Title goes here -->
    <title>Praveen Singh Chauhan's Website for your Jobs</title>
    <!-- Website title  -->
    <!-- All External Links STARTS>> -->
    <!-- CSS Link -->
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/vlog.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- JavaScript Link  -->
    <script src="java/main.js"></script>
    <!-- Font Links  -->

    <!-- External Links <<ENDS -->
</head>

<body>
    <header id="header">

        <!-- navigation bar, menu and brand logo with brand image  -->
        <nav id="nav-bar-main">
            <div class="brand-icon">
                <img id="brand-icon" src="iamge/aunash.png" alt="aunash icon file">
                <h5 class="ans">Aum Namah Shivaay</h5>
            </div>
            <h3><a href="/index.html"> Praveen Singh Chauhan</a></h3>
            <ul id="nav-bar-ul">
                <li id="home"><a href="/index.html">Home</a></li>
                <li id="services"><a href="/services.html">Services</a></li>
                <li id="blog"><a href="/blog.html">Blog</a></li>
                <li id="vlog"><a href="/vlog.html">Vlog</a></li>
                <li id="aboutUs"><a href="/aboutus.html">About Us</a></li>
                <li id="contactUs"><a href="/contactus.html">Contact Us</a></li>
            </ul>
        </nav>
    </header>
    <div class="google-ads">
        <!-- <img id="google-img" src="iamge/google-adsense.png" alt="google advertisement image"> -->
    </div>
    <main class="abtUs">
        <h1>Vlog Videos Posts </h1>

        <div class="aboutUs">

            <img src="iamge/home-bg.jpg" alt="Vlog Posts Image">

            <h3>
                <span> The Website and Why Us ???</span> <br> Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae quis, fugiat error ut dignissimos minus doloremque recusandae harum odio quas perspiciatis eos quia eius, cumque rem optio
                commodi odit! Doloremque aut cumque nulla quibusdam quisquam deserunt blanditiis dolorem ut corrupti unde. Aliquam, ex. Error molestiae, maiores dolores hic molestias veniam dolorum, dolorem repellendus ipsam, odit ipsum consequuntur sint
                culpa tempore inventore cumque temporibus voluptas non ea beatae. Sapiente error eius ipsam pariatur voluptatum placeat quaerat, harum molestiae odit quas saepe illum voluptate rerum consequatur quae voluptatem optio non porro eaque magnam
                nam. Sit quis deleniti impedit aspernatur quidem corporis ea, dolor vitae repudiandae unde doloremque necessitatibus amet, dolores culpa exercitationem voluptatibus quos! Optio veritatis earum distinctio quasi, fugiat corporis dolor neque,
                quae illo deserunt aliquam delectus culpa, asperiores eveniet dicta qllam accusantium aliquid officia! Vero, quam eum ipsa fugiat temporibus iusto, nostrum exercitationem ut aperiam sed repellendus aut ipsum error repellat odio nisi quos
                illo quidem! Nam autem alias eos laborum consectetur ab delectus, consequuntur tenetur ducimus ipsa corporis qui rem laudantium in dolorum voluptas velit iusto ipsam esse, eum cupiditate totam error animi vero. Reiciendis cupiditate aliquid
                nam perspiciatis pariatur, aliquam officiis corporis animi quibusdam nobis repellat ratione culpa at ducimus iusto alias eos iure impedit necessitatibus perferendis numquam
            </h3>
        </div>
    </main>

    <!-- Footer Area where put links of the site , youtube channles and social media  -->
    <footer class="footer-main">
        <div class="footer-siteLinks">
            <h3>Website Useful Links</h3>
            <ul>
                <li><a href="/index.html">Home</a> </li>
                <li><a href="/services.html">Services</a> </li>
                <li><a href="/blog.html">Blog Posts</a> </li>
                <li><a href="/vlog.html">Vlog & Videos</a> </li>
                <li><a href="/aboutus.html">About Us</a> </li>
                <li><a href="/contactus.html">Contact Us</a> </li>
            </ul>
        </div>
        <div class="footer-youtubeLinks">
            <h3>Youtube Channels Links</h3>
            <ul>
                <li><a href="https://www.youtube.com/TechnologyVideoNetwork" target="_blank">Technology Video Network</a> </li>
                <li><a href="https://www.youtube.com/motivation" target="_blank">Motivational Channel`</a> </li>
                <li><a href="https://www.youtube.com/PraveenSinghChauhan" target="_blank">Praveen's Vlog</a> </li>

            </ul>
        </div>

        <div class="footer-socialLinks">
            <h3>Social Media Links</h3>
            <div class="icon-bar">
                <a href="https://www.facebook.com/praveen13c" class="facebook" target="_blank"><i class="fa fa-facebook"></i></a>
                <a href="https://www.twitter.com/praveen13c" class="twitter" target="_blank"><i class="fa fa-twitter"></i></a>
                <a href="https://www.github.com/praveen13c" class="github" target="_blank"><i class="fa fa-github"></i></a>
                <a href="https://www.linkedin.com/in/impraveenchauhan/" class="linkedin" target="_blank"><i class="fa fa-linkedin"></i></a>
                <a href="https://www.youtube.com/TechnologyVideoNetwork" class="youtube" target="_blank"><i class="fa fa-youtube"></i></a>
            </div>
        </div>
    </footer>
    <div class="footer-footer">
        <h5>Copyright taken by Praveen Singh Chauhan for AUNASH &copy 2021</h5>
    </div>
</body>


</html>